<div class="main_head"> 
	<center>
		<h1>About Us Page</h1>
        <p>Who are we that are asking you to trust us with your information ?</p>
        <p>You can try to check this out and then work on it.</p>	
	</center>	
</div>
