<style type="text/css">
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	.card {
		background-color: #f1f1f1;
		border-radius: 5px;
		box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
		padding: 20px;
		margin: 20px;
		max-width: 300px;
		text-align: center;
	}

	.card h2 {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.card p {
		font-size: 18px;
	}	

	h1 {
	font-size: 48px;
	color: #333;
	text-align: center;
	margin-top: 50px;
    }

    p {
	font-size: 20px;
	margin-top: 50px;
	text-align: center;
    }
</style>

<h1>Main Page</h1>
<p>The World is a better page with All Investment and Savings Ideas at one place</p>
<p>Try Browsing all the content for the same!</p>

<div class="container">
	<div class="card">
		<h2>Investment Tier Plan 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget nulla vitae risus finibus luctus. Sed vitae lorem sit amet leo feugiat dapibus id ac turpis.</p>
	</div>
	<div class="card">
		<h2>Investment Tier Plan  2</h2>
		<p>Phasellus aliquam ultricies nibh, id scelerisque velit mattis et. Aliquam erat volutpat. Vestibulum vitae mi a augue tincidunt vestibulum sed sit amet nisi.</p>
	</div>
	<div class="card">
		<h2>Investment Tier Plan  3</h2>
		<p>Nunc vel libero enim. Fusce tincidunt tristique magna vel tristique. Curabitur tincidunt sapien eget ex iaculis finibus.</p>
	</div>
</div>
