<div class="main_head">
	<h1><center>Welcome to my Investment Plan</center></h1>
	<p><center>Plan out your Investment and Savings with us, And also take references from anonymous Investing Buddies out there!.</center></p>
</div>
<main>	
<div class="cards">
  <div class="card">
    <img src="https://media.istockphoto.com/id/1409239781/photo/piggy-bank-on-top-of-wooden-block-budget-plan-2023.jpg?s=1024x1024&w=is&k=20&c=UjAJEA_V1JO9bHEKCx6A8Ozm4QqbBbbL2Qk0u0yTXxI=" alt="Card Image">
    <h3>Card 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
  </div>
  
  <div class="card">
    <img src="https://media.istockphoto.com/id/1386672296/photo/seedling-are-growing-on-coins-are-stacked-and-the-seedlings-in-concept-of-finance-and.jpg?s=1024x1024&w=is&k=20&c=3ZQWWAJfiqVkgmRPoEzHAM-MF43hEFJr-I6Oz3y5vXo=" alt="Card Image">
    <h3>Card 2</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
  </div>
  
  <div class="card">
    <img src="https://media.istockphoto.com/id/1372099648/photo/cropped-shot-of-an-unrecognisable-couple-sitting-in-the-living-room-and-using-a-laptop-to.jpg?s=1024x1024&w=is&k=20&c=-yRiLPdGJKKafSE8sZZKBdJQL1GJXB9L6v6comrWHEs=" alt="Card Image">
    <h3>Card 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
  </div>
</div>
</main>