<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Investment Plan Tour</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <%= render 'home/header' %>
  </header>
  <div><%= yield %></div>
  <footer>
    <%= render 'home/footer' %>
  </footer>
  
  <script src="app.js"></script>
</body>
</html>
